@font-face {
    font-family: "Bitstream Vera Sans Mono";
    src: url("../fonts/VeraMono.eot"),
         url("../fonts/VeraMono.woff2"),
         url("../fonts/VeraMono.woff"),
         url("../fonts/VeraMono.ttf");
    font-weight: normal;
    font-style: normal;
}
